<h1><%= @student.name %></h1>
<img height=300 src=<%= @student.photo_url %> />

<br/>

<h4><%= @student.name %> Habits</h4>
<ul>
  <% @student.habits.each do |habit| %>
    <li><%= habit.name %></li>
  <% end %>
</ul>

<br/>

<h4>Age: <%= @student.age %></h4>
<h4>Slogan: <%= @student.slogan %></h4>

<a href="/students/<%= @student.id %>/edit">Edit <%= @student.name %></a>

<form method="POST" action="/students/<%= @student.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete <%= @student.name %>">
<form>
