<h1><%= @student.name %></h1>
<img src=<%= @student.photo_url %> />
<h4>Age: <%= @student.age %></h4>
<h4>Slogan: <%= @student.slogan %></h4>

<a href="/students/<%= @student.id %>/edit">Edit <%= @student.name %></a>

<form method="POST" action="/students/<%= @student.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete <%= @student.name %>">
<form>
