<h1>make a new ZAAAAAAAA</h1>

<h2>HTML FORM</h2>
<form action="/pizzas" method="post">

  <label for="name">Name</label>
  <input type="text" name="name">

  <label for="cost">Cost</label>
  <input type="number" name="cost">

  <label for="size">Size</label>
  <input type="text" name="size">

  <label for="extra_cheese">Extra 🧀</label>
  <input type="checkbox" name="extra_cheese">

  <input type="submit" value="submit">
</form>

<h2>form_for</h2>

<%= form_for @pizza do |form_builder| %>
  <%= form_builder.label :name %>
  <%= form_builder.text_field :name %>

  <%= form_builder.label :cost %>
  <%= form_builder.number_field :cost %>

  <%= form_builder.label :size %>
  <%= form_builder.text_field :size %>

  <%= form_builder.label :extra_cheese, "Extra 🧀" %>
  <%= form_builder.check_box :extra_cheese %>

  <%= form_builder.submit %>
<% end %>